name: Node.js Package
on:
    release:
        types: [created]
jobs:
    build:
        permissions:
          contents: write
          id-token: write
          pull-requests: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'pnpm'
            - run: pnpm config set autoInstallPeers false
            - run: pnpm install --frozen-lockfile
            - name: Build
              run: pnpm -r build
            - name: Version
              run: pnpm version "${GITHUB_REF:11}" --no-git-tag-version
            - run: pnpm publish --no-git-checks
